{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}

    <h2>Liste des catégories</h2>

    {% for category in categories %}
        <p>{{ category.name }}</p>
    {% endfor %}

{% endblock %}
