{% extends 'base.html.twig' %}

{% block title %}Hello SkillController!{% endblock %}

{% block body %}

    <h2>Liste des compétences</h2>
    <p><a href="{{ path('add.skill') }}">Ajouter une compétence</a></p>

    {% if skills is defined %}
        {% for skill in skills %}
            <p><a href="{{ path('edit.skill', {id: skill.id}) }}">{{ skill.name }}</a></p>
        {% endfor %}
    {% endif %}

{% endblock %}
