{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    {% if is_granted("ROLE_SUPER_ADMIN") %}

        {% include 'back/navigation.html.twig' %}

        <section class="container my-5">
            <header>
                <h1>Tableau de board</h1>
            </header>

            <div class="my-5">
                <h2>Mon profil</h2>

                <p class="font-weight-bold text-uppercase text-info mb-0">Adresse email</p>
                <p>{{ app.user.email }}</p>

                <p class="font-weight-bold text-uppercase text-info mb-0">Réseau sociaux</p>

                <p class="font-weight-bold text-uppercase text-info mb-0">Description</p>
                <p>{{ app.user.description }}</p>
            </div>

            <footer>

            </footer>
        </section>


    {% endif %}

{% endblock %}
