{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}

    {% if is_granted("ROLE_SUPER_ADMIN") %}
        <div>
            <a href={{ path('edit.profil') }}>Modifier</a>
            <a href={{ path('list.category') }}>Categories</a>
            <a href={{ path('list.skill') }}>Compétences</a>
            <a href={{ path('list.project') }}>Projets</a>

        </div>
    {% else %}

        <p>Vous n'avez pas l'accès à cette partie de l'application !</p>

    {% endif %}

{% endblock %}
