<section id="projects" class="section">
    <header class="section-title pt-3 text-center pt-md-5 text-md-left d-md-inline-block">
        <h2 class="title typo-title text-primary-color">Projets</h2>
        <div class="title-bars position-relative w-75 w-md-100 m-auto m-md-0">
            <span class="bar position-absolute bar-1"></span>
            <span class="bar position-absolute bar-2"></span>
            <span class="bar position-absolute bar-3"></span>
        </div>
    </header>

    {% if projects is defined %}
    <div id="js-list-projects" class="row mt-over">
        {% include 'front/projects/listProjects.html.twig' %}
        
        {# Button pour charger plus de projets #}
        {% if number is defined and number > 0 %}
        <div class="text-center text-md-left">
            <button id="js-load-all-projets" class="btn bg-primary-color text-white">Plus de projets</button>
        </div>
        {% endif %}
    </div>

    {% endif %}
</section>