<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Container wrapper -->
    <div class="container">
    <!-- Navbar brand -->
        <a class="navbar-brand" href="#">Retour au site</a>

        <!-- Toggle button -->
        <button class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"><i class="fas fa-bars text-white"></i></button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Left links -->
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if active_page is defined and active_page == 'profil' %}active{% endif %}" href="{{ path('dashboard') }}">Profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if active_page is defined and active_page == 'project' %}active{% endif %}" href="{{ path('list.project') }}">Projets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if active_page is defined and active_page == 'skill' %}active{% endif %}" href="{{ path('list.skill') }}">Compétences</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if active_page is defined and active_page == 'category' %}active{% endif %}" href="{{ path('list.category') }}">Catégories</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Container wrapper -->
</nav>