<section id="contact" class="section position-relative">
    <header class="section-title text-center pt-md-5 text-md-left d-md-inline-block">
        <h2 class="title typo-title text-primary-color">Contact</h2>
        <div class="title-bars position-relative w-75 w-md-100 m-auto m-md-0">
            <span class="bar position-absolute bar-1"></span>
            <span class="bar position-absolute bar-2"></span>
            <span class="bar position-absolute bar-3"></span>
        </div>
    </header>

    <div id="formulaireContact" class="mt-over">
        <form method="POST" class="w-100">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-outline mb-4">
                        <input type="text" id="name" class="form-control" />
                        <label class="form-label" for="name">Nom</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-outline mb-4">
                        <input type="text" id="lastname" class="form-control" />
                        <label class="form-label" for="lastname">Prénom</label>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-outline mb-4">
                        <input type="email" id="email" class="form-control" />
                        <label class="form-label" for="email">Adresse email</label>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-outline mb-4">
                        <textarea class="form-control" id="message" rows="7"></textarea>
                        <label class="form-label" for="message">Message</label>
                    </div>
                </div>

                <div class="text-center text-md-right">
                    <button type="submit" class="btn btn-outline-card">Envoyer</button>
                </div>
            </div>
        </form>
    </div>
</section>