{% extends 'base.html.twig' %}

{% block title %}Hello ProjectController!{% endblock %}

{% block body %}

    <h2>Liste des projets</h2>
    <a href="{{ path('add.project') }}">Ajouter un projet</a>

    {% if projects is defined %}
        {% for project in projects %}
            <p>{{ project.title }}</p>
        {% endfor %}
    {% endif %}

{% endblock %}
